{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<br></br>
<h1 class="fw-bold">INFORMATIONS POUR NOUS CONTACTER</h1> 
<br></br>
    <p>Si vous avez une question, nous pouvons vous aidé immédiatement avec nous services. </p>
<br></br>

    <h2 class="fw-bold">Envoyez-nous un e-mail</h2>
        <p>Vous pouvez tout à fait nous envoyer un e-mail mais la réponse pourra prendre quelque jours. </p>

    {{ form_start(form)}}
    {{ form_widget(form)}}
    {{ form_end(form)}}
<br></br>

<div class="text-center">
<h1 class="btn btn-success"> <i class="fa-solid fa-phone-volume">  Appelez nous</i></h1>
<br></br>

<p>Nous sommes là pour vous aider, mais il est possible que vous deviez attendre quelques minutes avant d'être connecté</p>
<br></br>

<button  type="" class="btn -btn-text-center" ><i class="btn btn-success"> +33 7 53 93 59 40 </i></button>
<br></br>
        
           <p>ou</p>
  
        <button  type="" class="btn -btn-text-center" ><i class="btn btn-success">+33 1 77 00 36 80</i></button>
    </div>
<br></br>


<div class="row">
<p class="text-start">J'ai une plainte à formuler</p>
<p1 class="text-start">Si vous n'êtes pas satisfaits de nos produits ou services, nous aimerions entendre vous commentaires.</p1>
<p2 class="text-start">Nous souhaitons toujours résoudre les problèmes, alors veuillez nous contacter en utilisant l'une des méthodes suivantes:</p2>
<p3 class="text-start">Envoyez-nous un e-mail à l'adresse france_complaints@boutiquemaiison.com</p3>
<p4 class="text-start">Merci d'indiquer vontre nom, adresse et numéro de téléphone pour que nous puissons vous contacter dès que possible.</p4>



</div>

    

{% endblock %}
