<form method="post" action="{{ path('app_admin_transporteur_delete', {'id': transporteur.id}) }}" onsubmit="return confirm('Etes vous sûr de vouloir supprimer cet transporteur?'); " class="d-inline"">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ transporteur.id) }}">
    <button class="btn btn-danger"><i class="align-middle" data-feather="trash"></i></button>
</form>
