<form method="post" action="{{ path('app_admin_categorie_delete', {'id': categorie.id}) }}" onsubmit="return confirm('Etes vous sûr de vouloir supprimer ce livre?');" class="d-inline">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ categorie.id) }}">
    <button class="btn btn-danger"><i class="align-middle" data-feather="trash"></i></button>
</form>
