{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
<h1>Mon compte</h1>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
       <li class="nav-item" role="presentation">
           <button class="nav-link active" id="info-tab" data-bs-toggle="tab" data-bs-target="#info-tab-pane" 
            type="button" role="tab" aria-controls="info-tab-pane" aria-selected="true">Mes informations</button>
       </li>
       <li class="nav-item" role="presentation">
           <button class="nav-link" id="favoris-tab" data-bs-toggle="tab" data-bs-target="#favoris-tab-pane"
           type="button" role="tab" aria-controls="favoris-tab-pane" aria-selected="false">Mes favoris</button>
       </li>
   
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="info-tab-pane" role="tabpanel" aria-labelledby="info-tab"
      tabindex="0">
      {{form_start(form)}}
      {{form_widget(form)}}
      {{form_end(form)}}

    </div>
    <div class="tab-pane fade" id="favoris-tab-pane" role="tabpanel" aria-labelledby="favoris-tab" 
     tabindex="0">favoris</div>
    
  </div>
{% endblock %}

