<footer class="container-fluid position-absolute bg-light text-dark py-3">

  <div class="row">
  <div class="bg-light text-dark p-3 text-center">
  <div class="bg-light text-dark p-3 text-center">Nous réseaux sociaux <br><br/>
    <a><i class="fa-brands fa-facebook"></i></a>
    <a> <i class="fa-brands fa-twitter"></i></a>
    <a><i class="fa-brands fa-square-instagram"></i></a>
    <a><i class="fa-brands fa-youtube"></i></a><br><br/>
</div>
     
   </div>
   

<div class="container"> 
   <div class="row">
     <div class="col-3 offset-1">Aide</div>
     <div class="col-3 offset-1 ">Confidentialité et mentions légales</div>
     <div class="col-3  offset-1">Autre services</div>
   </div>
   <div class="row">
  <div class="col-3 offset-1">Informations de retour</div>
  <div class="col-3 offset-1 ">Politique des cookies</div>
  <div class="col-3  offset-1">Presse et médias</div>
</div>
<div class="row">
<div class="col-3 offset-1">Expédition</div>
<div class="col-3 offset-1 ">Conditions générales</div>
<div class="col-3  offset-1">L'entreprise</div>
</div>
<div class="row">
<div class="col-3 offset-1"> <a class="dropdown-item" href="{{'contact'}}">Nous contacter</a></div>
<div class="col-3 offset-1 ">GERER LES COOKIES MANUELLEMENT</div>
<div class="col-3  offset-1">Carrières chez boutique maison</div>
</div>
<br></br>
</div>




 <div class="text-center" >  &copy; {{""|date('Y')}} Boutique Maison. Tous droits réservés.</div>


</footer>